<header class="header">
    <div class="wrapper">
        <div class="header-inner">
            <a href="#" class="header-logo">
                <img src="img/logo.svg" alt="logo">
            </a>
            <nav class="header-nav nav">
                <ul class="header-nav__list nav__list">
                    <li class="header-nav__item nav__item"><a href="#" class="header-nav__link nav__link active">Home</a></li>
                    <li class="header-nav__item nav__item"><a href="#" class="header-nav__link nav__link">Contact</a>
                    </li>
                    <li class="header-nav__item nav__item"><a href="#" class="header-nav__link nav__link">Location</a>
                    </li>
                    <li class="header-nav__item nav__item"><a href="#" class="header-nav__link nav__link">About Us</a>
                    </li>
                </ul>
            </nav>
            <button class="btn btn-header">
                Sign Up
            </button>
        </div>
    </div>
</header>